body {
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.grid-container {
  align-self: center;
  display: grid;
  grid-template-columns: 180px 180px;
  grid-template-rows: 340px 340px;
  grid-gap: 2px;
}

.slider-image {
  width: 100%; 
}

.slick-next:before, .slick-prev:before {
  color: #333;
}

.carousel-wrapper {
  text-align: center;
  margin-top: 80px;
  width: 100%;
}

.slider-image {
  width: 100%;
}

.actual-price{
  width: 100%;
  text-align: center;
}

.old-price {
  text-decoration: line-through;
  margin: 0;
  color: #CCC;
}

.best-price {
  justify-content: center;
  width: 100%;
  display: inline-flex!important;
  font-weight: 600;
}

.see-more{
  background-color: #ad8844;
  border-radius: 25px;
  border: none;
  color: #FFF;
  width: 80px;
  height: 30px;
}

.image-carrusel {
  margin: auto;
}